.reveal code {
  background-color: #f3eecf;
  font-family: monospace;
  padding-left: 5px;
  padding-right: 5px;
  text-transform: none;
}

.reveal h2 {
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3), 0 3px 5px rgba(0, 0, 0, 0.2), 0 4px 8px rgba(0, 0, 0, 0.25), 0 15px 15px rgba(0, 0, 0, 0.15);
}

.reveal li {
  font-size: 80%;
  margin-left: 30px;
  padding-bottom: 8px;
}

.reveal p {
  font-size: 80%;
}

.reveal section img {
  border: none;
  margin: 15px 15px;
  padding: 20px;
}

.reveal th {
  font-size: 85%;
}

.reveal td {
  font-size: 70%;
}

.reveal .slides section {
  text-align: left;
}

.reveal .slides section>* {
  margin-left: 15px;
  margin-right: 5px;
}

#title-footer #notification {
  font-size: 70%;
}
