!!!
%html
  %head
    %title RabbitMQ demo app with hutch
    %link(rel="stylesheet" type="text/css" href="app.css")
    %meta(name="author" content="Andreas Finger @mediafinger")
  %body

    = yield

    .foot
      Get the source code of this app:
      %br
      %a{ href: "https://github.com/mediafinger/rabbitmq_presentation", title: "github.com/mediafinger", target: "_blank" }
        https://github.com/mediafinger/rabbitmq_presentation
