body, input, textarea, code, tt, pre {
  font-family: sans-serif;
  font-size: 1em;
}

body {
  min-width: 25em;
  max-width: 25em;
}

div, form, .success, .failure {
  padding: 0.3em;
}

a {
  color: #66a;
}

.field, .success, .failure {
  margin: 0.5em;
}

.field {
  text-align: right;
}


.label {
  display: inline;
}

input[type=email], input[type=text] {
  border-radius: 0.4em;
  padding: 0.4em;
  width: 16em;
}

input[type=submit] {
  background: #ccf;
  border-radius: 0.4em;
  border: 2px solid silver;
  cursor: pointer;
  margin: 0.4em;
  padding: 0.4em 0.6em;
}

.failure {
  background-color: #fcc;
}

.success {
  background-color: #ccf;
}

.foot {
  font-family: monospace;
  font-size: 0.9em;
  padding-top: 3.5em;
  text-align: right;
}
